.section {
    width: 100%;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userImg {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    display: flex;
}

.userName {
    width: 300px;
}

.userEmail {
    color: grey;
}

.userGender {
    text-align: center;
    width: 80px;
    color: white;
    /* padding: 10px; */
}

.female {
    background-color: #ffc0cb;
    padding: 10px;
    border-radius: 20px;
}

.male {
    background-color: #87ceeb;
    padding: 10px;
    border-radius: 20px;
}
td {
    margin-left: 20px;
    margin-right: 20px;
}

.dashboard {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding: 50px;
    /* justify-content: space-evenly; */
}

.dashboardItem {
    display: flex;
    justify-content: space-between;
    width: 50%;
    /* padding: 20px; */
}

.dashboardIcon {
    display: flex;
    align-self: center;
    width: 48px;
    height: 48px;
}
